<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>


    <section>
        <div class="columns is-multiline is-centered">
            <!-- link back to main page -->
            <div class="is-centered is-vcentered">
                <p><a href="/views/index.handlebars">Back to the Main Page</a></p>
            </div>
            <!-- Bestimator logo -->
            <div class="column is-full is-centered">
                <h1 class="page-header-title-logo"><span class="page-title-best"><i
                            class="app-logo fas fa-calculator"></i>
                        BEST</span><span class="page-title-imator">imator</span></h1>
            </div>
            <!-- input fields -->
            <div class="column is-full is-one-third is-centered">
                <form>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username"><br><br>
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password"><br><br>
                    <input type="submit" value="Submit">
                  </form>
            </div>
            <!-- login button -->
            <div class="column is-full is-centered">
                <div class="columns is-vcentered is-centered">

                    <button id="loginButton" class="main-page-buttons button">login</button>

                </div>
            </div>


        </div>
    </section>

    <script>
            // JAVASCRIPT FOR "/" main page HERE!
    </script>

</body>

</html>