<section>
    <div class="columns is-multiline">
        <!-- question counter -->
        <div class="column is-full">
            <h1 class="question-counter">Q: <span id="currentCount" class="current-count">?</span> of 5</h1>
        </div>
        <div class="column is-full">
            <div class="columns is-vcentered">
                <!-- image -->
                <div class="column">
                    <img class="game-page-image" src="https://bulma.io/images/placeholders/128x128.png">
                </div>
                <!-- question text -->
                <div class="column question-response-column">
                    <p id="questionText" class="question-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur impedit delectus esse a velit rem quasi, optio, maxime ad unde eaque tenetur
                        praesentium quaerat vero blanditiis! Numquam minus commodi molestias?</p>
                    <input id="userResponse" class="input user-response is-warning" type="text"
                        placeholder="your answer">
                    <button id="guessButton" class="guess-button button is-large">make a guess!</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
            // JAVASCRIPT FOR "?" ? page HERE!
</script>