<section>
    <div class="columns is-multiline" id="gameDisplay">
        <!-- question counter -->
        <div class="column is-full">
            <h1 class="question-counter">Q: <span id="currentCount" class="current-count"></span> of 5</h1>
        </div>
        <div class="column is-full">
            <div class="columns is-vcentered">
                <!-- image -->
                <div class="column">
                    <div id="questionImg" class="question-Img"></div>
                </div>
                <!-- question text -->
                <div class="column question-response-column">
                    <div id="questionText" class="question-text"></div>
                    <form id="guessForm">
                        <input id="userResponse" class="input user-response is-warning" type="text"
                            placeholder="your answer">
                        <button id="guessButton" class="guess-button button is-large" data-id="0">make a guess!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modalContainer" class="modal is-centered">
        <div class="modal-background"></div>
        <div class="modal-content">

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p id="modal-text" class="modal-text">You have finished today's quiz! Your score today was:</p>
                        <button id="modalButton" class="button is-warning is-large">next</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        var questionText = document.createElement("p");
        var questionImg = document.createElement("img");
        var scoreDisplay = document.createElement("p");
        var userResponse = $("#user-response");
        var questionsAnswered;
        let questions = [];
        let dayScores = [];
        let questionsIndex = 0;

        function startQuiz() {
            questionsAnswered = 0;
            getQuestions();
        };

        function getQuestions() {
            $.get("/api/questions/", function (data) {
                questions = data;
                showQuestion();
            });
        };

        function showQuestion() {
            questionText.innerHTML = questions[questionsIndex].question;
            questionImg.src = questions[questionsIndex].image_url;
            $("#questionText").append(questionText);
            $("#questionImg").append(questionImg);
            $("#currentCount").text((questionsIndex + 1).toString());
            $("#guessButton").attr("data-id", questions[questionsIndex].id);
        };

        $(document).on("click", "#guessButton", function () {
            const questionId = $(this).attr("data-id");
            var answer = document.getElementById("userResponse").value;
            var newAnswer = {
                QuestionId: questionId,
                user_response: answer
            };
            console.log(newAnswer);
            postAnswer(newAnswer);
            resetGuessForm();
        });

        function resetGuessForm() {
            document.getElementById("guessForm").reset();
        }

        function postAnswer(answer) {
            $.ajax({
                method: "POST",
                url: "/api/answers",
                data: answer
            })
                .then(function (response) {
                    console.log(response);
                    dayScores.push(response.answer_score);
                    console.log("answer posted");
                    if (questionsIndex === 4) {
                        showScore();
                        //change line 97 back to "if (questionsIndex === questions.length)" once questions is correct length
                    }
                    else {
                        questionsIndex++;
                        showQuestion();
                    };
                });
        };

        function showScore() {
            let sum = 0;
            for (var k = 0; k < dayScores.length; k++) {
                sum += dayScores[k];
            }
            scoreDisplay.innerHTML = `${Math.floor(sum / dayScores.length)}%`;
            $("#modal-text").append(scoreDisplay);
            $("#modalContainer").addClass("is-active");
            $("#modalButton").on("click", function (event) {
                event.preventDefault();
                $("#modalContainer").removeClass("is-active");
                window.location.replace("/leaderboard");
            });
        };

        startQuiz();

    });

    // JAVASCRIPT FOR "/game" game page HERE!

    /*// make modal appear when click on button
    $("#guessButton").on("click", function (event) {
        event.preventDefault();
        $("#modalContainer").addClass("is-active");
    });
    // make modal disappear when click on button
    $("#modalButton").on("click", function (event) {
        event.preventDefault();
        $("#modalContainer").removeClass("is-active");
    });*/

</script>