<section>
    <div class="columns is-multiline">
        <!-- page logo, header, & subheader -->
        <div class="column is-full">
            <h1 class="page-header-title-logo"><span class="page-title-best"><i class="app-logo fas fa-calculator"></i>
                    BEST</span><span class="page-title-imator">imator</span></h1>
            <p class="main-page-subheading">are you the <span class="subheading-accent">best</span> at <span
                    class="subheading-accent">estimating</span>?</p>
        </div>
        <!-- main page image & info -->
        <div class="column is-full">
            <div class="columns is-vcentered">
                <!-- image column -->
                <div class="column">
                    <img class="main-image" src="https://i.imgur.com/luy8zPh.jpg">
                </div>
                <!-- text column -->
                <div class="column">
                    <p class="game-explanation">
                        How many <span class="explanation-accent">coffee beans</span> do you think there are <span
                            class="explanation-accent">in this jar</span>?
                    </p>
                    <p class="game-explanation">
                        Give an <span class="explanation-accent">estimate</span> for this <span
                            class="explanation-accent">tough question</span>, along with <span
                            class="explanation-accent">many more</span>!
                    </p>
                    <p class="game-explanation">
                        <span class="explanation-accent">Play daily</span> to improve your <span
                            class="explanation-accent">accuracy</span>, climb the <span
                            class="explanation-accent">leaderboard</span>,
                    </p>
                    <p class="game-explanation">
                        and see if you're the <span class="explanation-accent">BESTimator</span>!
                    </p>
                </div>
            </div>
        </div>
        <!-- buttons (login & signup) -->
        <div class="column is-half">
            <button id="loginButton" class="main-page-buttons button is-large">login</button>
        </div>
        <div class="column is-half">
            <button id="signupButton" class="main-page-buttons button is-large">sign up</button>
        </div>
    </div>
</section>

<script>
            // JAVASCRIPT FOR "/" main page HERE!
</script>