<section>
    <div class="columns is-centered is-multiline">
        <!-- button links-->
        <div class="column">
            <div class="leaderboard-links columns is-mobile">
                <div class="column is-half">
                    <button id="userProfile" class="leaderboard-button button is-large">my profile</button>
                </div>
                <div class="column is-half">
                    <button id="logoutButton" class="leaderboard-button button is-large">logout</button>
                </div>
            </div>
        </div>
        <!-- page logo, header, & subheader -->
        <div class="column is-full">
            <h1 class="page-header-title-logo"><span class="page-title-best"><i class="app-logo fas fa-calculator"></i>
                    BEST</span><span class="page-title-imator">imator</span></h1>
            <p class="main-page-subheading">are you the <span class="subheading-accent">best</span> at <span
                    class="subheading-accent">estimating</span>?</p>
        </div>
        <!-- page title -->
        <div class="column is-full">
            <h1 class="leaderboard-header">leaderboard</h1>
        </div>
        <!-- leaderboard items -->
        <ul id="leaderboardList" class="leaderboard-list">
            <!--<li class="leaderboard-list-item"><span class="player-info">rank | username | score</span></li>-->
        </ul>
    </div>
</section>
<script>

    $(document).ready(function () {

        $.get("/api/answers/playerScore", function (data) {
            
            const scores = data;
            
            let rank = 1;
            data.forEach(user => {
                $(`<li> Rank: ${rank} | User: ${user.username} | Score: ${Math.floor(user.averageScore)}%</li>`).addClass("leaderboard-list-item").appendTo("#leaderboardList")
                rank++;
            })
        });

    });

    // button to go to player's profile page
    $("#userProfile").on("click", function (event) {
        event.preventDefault();
        window.location.href = "/player";
    });
    //button to log out
    $("#logoutButton").on("click", function (event) {
        event.preventDefault();
        window.location.href = "/auth/logout";
    });

</script>