<section>
    <div class="columns is-centered is-multiline">
        <!-- button links-->
        <div class="column">
            <div class="player-page-links columns is-mobile">
                <div class="column is-two-thirds" id="leaderboardButton">
                    <button class="leaderboard-button button is-large">leaderboard</button>
                </div>
                <div class="column is-one-third" id="logoutButton">
                    <button class="leaderboard-button button is-large">logout</button>
                </div>
            </div>
        </div>
        <!-- page title -->
        <div class="column is-full">
            <h1 class="player-page-header">WELCOME<span id="usernameEntry" class="subheading-accent username-entry">
                    {{user.username}}</span></h1>
        </div>
        <!-- player's score & rank -->
        <div class="column is-full">
            <h4 class="player-heading">your current score and rank:</h4>
        </div>
        <!-- player's stats -->
        <div class="column is-full">
            <div id="userStats" class="columns is-centered is-mobile user-stats">
                <div id="statScore" class="column stat-score">
                    <p class="stats-label">accuracy</p>
                    <p id="userAccuracy" class="stat-user-number user-accuracy"></p>
                </div>
                <div id="statRank" class="column stat-rank">
                    <p class="stats-label">rank</p>
                    <p id="userRank" class="stat-user-number user-rank"></p>
                </div>
            </div>
        </div>
        <!-- PLAY button -->
        <div class="column is-full">
            <button id="playButton" class="play-button button is-large">PLAY</button>
        </div>
        <!-- player's scores-->
        <div class="column is-full">
            <h4 class="player-score-display"><i class="fas fa-star"></i> your scores <i class="fas fa-star"></i></h4>
        </div>
        <!-- user scores items -->
        <ul id="userScores" class="userScores">
            <li class="score-list-item" id="1"><span class="player-info"><span class="board-item" id="1date">date</span> | <span
                        class="board-item" id="1score">score</span></li>
            <li class="score-list-item" id="2"><span class="player-info"><span class="board-item" id="2date">date</span> | <span
                        class="board-item" id="2score">score</span></li>
            <li class="score-list-item" id="3"><span class="player-info"><span class="board-item" id="3date">date</span> | <span
                        class="board-item" id="3score">score</span></li>
            <li class="score-list-item" id="4"><span class="player-info"><span class="board-item" id="4date">date</span> | <span
                        class="board-item" id="4score">score</span></li>
            <li class="score-list-item" id="5"><span class="player-info"><span class="board-item" id="5date">date</span> | <span
                        class="board-item" id="5score">score</span></li>
        </ul>
    </div>

    <!-- MODAL telling user that they are done playing until the next day -->
    <div id="modalContainer" class="modal is-centered">
        <div class="modal-background"></div>
        <div class="modal-content">

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p id="modal-text" class="modal-text">You have already answered 5 questions today. Please come
                            back again tomorrow.</p>
                        <button id="modalButton" class="button is-warning is-large">OK</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<script>

    $(document).ready(function () {

        // DISPLAY THE USER'S STATS (RANK & OVERALL ACCURACY)
        $.get("/api/answers/playerScore", function (data) {
            const scores = data;
            data.forEach(user => {
                if ("{{user.username}}" === user.username) {
                    $("#userAccuracy").text(`${(Math.floor(user.averageScore))}%`);
                    $("#userRank").text("#" + user.rank);
                };
            })
        });

        // DISPLAY EACH OF USER'S DAILY SCORES
        $.get("/api/answers/fiveDayAnswers", function (data) {
            console.log(data);
            let line = 1;
            data.forEach(day => {
                $(`#${line}date`).text(`Day: ${day.date.substring(0,10)}`);
                $(`#${line}score`).text(`Score: ${Math.floor(day.score)}`);
                //if statement to prevent days without scores from being shown)
                if (day.score === "no score") {
                    $(`#${line}`).css("display", "none");
                }
                else {
                    $(`#${line}`).css("display", "block");
                }
                line++;
            })
        });

        // PREVENT USER FROM GOING TO GAME PAGE IF THEY HAVE ALREADY PLAYED TODAY
        $.get("/api/questions", function (data) {
            // click event for PLAY button
            $("#playButton").on("click", function (event) {
                event.preventDefault();

                if (data.length === 0) {
                    // modal telling user there are no more questions
                    $("#modalContainer").addClass("is-active");
                    $("#modalButton").on("click", function (event) {
                        event.preventDefault();
                        $("#modalContainer").removeClass("is-active");
                    });
                } else {
                    // go to game page
                    window.location.href = "/game";
                };
                
            });
        });

    });

    // ============================================================================================

    // button to go to player's profile page
    $("#leaderboardButton").on("click", function (event) {
        event.preventDefault();
        window.location.href = "/leaderboard";
    });
    //button to log out
    $("#logoutButton").on("click", function (event) {
        event.preventDefault();
        window.location.href = "/auth/logout";
    });
</script>