<section>
  <div class="columns is-multiline is-centered">
    <!-- link back to main page -->
    <div id="link-main-page" class="is-centered is-vcentered">
      <p><a id="main-page" href="/">← back to the main page</a></p>
    </div>
    <!-- Bestimator logo -->
    <div class="column is-full is-centered">
      <h1 class="page-header-title-logo"><span class="page-title-best"><i
            class="app-logo fas fa-calculator"></i>BEST</span><span class="page-title-imator">imator</span>
      </h1>
    </div>
    <!-- input fields -->
    <div id="forms" class="column is-full is-centered">
      <form>
        <label for="username" class="login-labels">Username:</label><br>
        <input type="text" id="usernameInput" name="username" class="login-input input is-large">
        <br><br>
        <label for="password" class="login-labels">Password:</label><br>
        <input type="password" id="passwordInput" name="password" class="password-input input is-large">
        <br><br>
      </form>
    </div>
    <!-- login button -->
    <div class="column is-full is-centered">
      <div class="columns is-vcentered is-centered">
        <button id="signupButton" class="main-page-buttons button is-large">sign up</button>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    // Getting references to our form and inputs
    var usernameInput = $("#usernameInput");
    var passwordInput = $("#passwordInput");

    // When the form is submitted, we validate there's a username and password entered
    $("#signupButton").on("click", function (event) {
      event.preventDefault();
      var userData = {
        username: usernameInput.val().trim(),
        password: passwordInput.val().trim()
      };

      if (!userData.username || !userData.password) {
        return;
      }

      // If we have a username and password we run the signupUser function and clear the form
      signupUser(userData.username, userData.password);
      usernameInput.val("");
      passwordInput.val("");
    });

    // signupUser does a post to our "auth/login" route and if successful, redirects us the the game page
    function signupUser(username, password) {
      $.post("/auth/signup", {
        username: username,
        password: password
      })
        .then(function () {
          window.location.replace("/game");
          // If there's an error, log the error
        })
        .catch(function (err) {
          console.log(err);
        });
    }
  });
</script>