/* DEFAULT SIZE xs (less than 576px) */
html {
    background-color: #191919;
}
section {
    text-align: center;
    background-color: #191919;
}
.page-header-title-logo {
    margin-top: 30px;
    font-size: 38px;
    color: #ffd700;
}
.app-logo {
    color: #f9f9f9;
    background-color: #ffd700;
    padding: 5px;
    border-radius: 5px;
    font-size: 40px;
}
.page-title-best {
    background-color: #f9f9f9;
    font-weight: bold;
    padding: 10px;
    padding-right: 2px;
    border-radius: 5px 0 0 5px;
}
.page-title-imator {
    background-color: #ffd700;
    color: #f9f9f9;
    padding: 10px;
    padding-left: 2px;
    border-radius: 0 5px 5px 0;
}
.main-page-subheading {
    color: #f9f9f9;
    padding-top: 10px;
    font-size: 18px;
}
.subheading-accent {
    color: #ffd700;
    font-weight: bold;
}
.main-image {
    width: 80%;
    border-radius: 5px;
}
.game-explanation {
    font-size: 18px;
    color: #f9f9f9;
    padding-left: 15px;
    padding-right: 15px;
}
.explanation-accent {
    color: #ffd700;
}
.main-page-buttons {
    background-color: #ffd700;
    width: 80%;
    color: #191919;
    font-weight: bold;
}
.main-page-buttons:hover {
    cursor: pointer;
    background-color: #7f6b00;
    color: #f9f9f9;
}
.question-counter {
    margin-top: 30px;
    font-size: 38px;
    color: #ffd700;
}
.current-count {
    color: #f9f9f9;
    font-weight: bold;
    background-color: #ffd700;
    padding: 10px;
    border-radius: 5px;
}
.game-page-image {
    width: 80%;
    border-radius: 5px;
}
.question-response-column {
    margin-right: 0px;
}
.question-text {
    font-size: 18px;
    color: #ffd700;
    padding-left: 15px;
    padding-right: 15px;
}
.user-response {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.guess-button {
    width: 70%;
    background-color: #ffd700;
    color: #191919;
    font-weight: bold;
}
.guess-button:hover {
    cursor: pointer;
    background-color: #7f6b00;
    color: #f9f9f9;
}
#loginButton, #signupButton {
    width: 75%;
    margin-bottom: 5%;
}
#link-main-page {
    margin-top: 10%;
}
#forms {
    margin-top: 20px;
    margin-bottom: 20px;
}
#main-page {
    color: gray;
    font-size: 20px;
}
#main-page:hover {
    color: gold;
}
.login-input, .password-input {
    width: 90%;
}
.login-labels {
    color: #f9f9f9;
    font-size: 25px;
}
#leaderboardButton, #logoutButton {
    width: 50%;
    margin-top: 5%;
}




/* MEDIA QUERIES ========================================================== */

/* SCREEN SIZE sm (576px - 767px) */
@media (min-width: 576px) {
    .page-header-title-logo, .app-logo {
        font-size: 60px;
    }
    .main-page-subheading {
        font-size: 27px;
    }
    .main-image, .main-page-buttons {
        width: 70%;
    }
    .game-explanation {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .question-text {
        font-size: 21px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* SCREEN SIZE md (768px - 991px) */
@media (min-width: 768px) {
    .page-header-title-logo, .app-logo {
        font-size: 80px;
    }
    .main-page-subheading {
        font-size: 30px;
    }
    .main-image, .main-page-buttons {
        width: 85%;
    }
    .game-explanation {
        font-size: 24px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #loginButton, #signupButton {
        width: 50%;
        margin-bottom: 5%;
    }
}

/* SCREEN SIZE lg (992px and up) */
@media (min-width: 992px) {
    .page-header-title-logo, .app-logo {
        font-size: 80px;
    }
    .main-page-subheading {
        font-size: 30px;
    }
    .main-image {
        margin-left: 30px;
        margin-right: 60px;
        width: 70%;
    }
    .game-explanation {
        font-size: 27px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-page-buttons {
        width: 90%;
    }
    .question-response-column {
        margin-right: 30px;
    }
}