/* DEFAULT SIZE xs (less than 576px) */
html {
  background-color: #191919;
}
section {
  text-align: center;
  background-color: #191919;
  font-family: "Balsamiq Sans", cursive;
}
.hide {
  display: none;
}
.page-header-title-logo {
  margin-top: 30px;
  font-size: 38px;
  color: #ffd700;
}
.app-logo {
  color: #f9f9f9;
  background-color: #ffd700;
  padding: 5px;
  border-radius: 5px;
  font-size: 40px;
}
.page-title-best {
  background-color: #f9f9f9;
  font-weight: bold;
  padding: 10px 2px 5px 15px;
  border-radius: 5px 0 0 5px;
}
.page-title-imator {
  background-color: #ffd700;
  color: #f9f9f9;
  padding: 10px 15px 5px 2px;
  border-radius: 0 5px 5px 0;
}
.main-page-subheading {
  color: #f9f9f9;
  padding-top: 10px;
  font-size: 18px;
}
.subheading-accent {
  color: #ffd700;
  font-weight: bold;
}
.main-image {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid gold;
}
.game-explanation {
  font-size: 18px;
  color: #f9f9f9;
  padding-left: 15px;
  padding-right: 15px;
}
.explanation-accent {
  color: #ffd700;
}
.main-page-buttons {
  background-color: #ffd700;
  width: 80%;
  color: #191919;
  font-weight: bold;
}
.main-page-buttons:hover {
  cursor: pointer;
  background-color: #7f6b00;
  color: #f9f9f9;
}
.question-counter {
  margin-top: 30px;
  font-size: 38px;
  color: #ffd700;
}
.current-count {
  color: #f9f9f9;
  font-weight: bold;
  background-color: #ffd700;
  padding: 10px;
  border-radius: 5px;
}
#questionImg {
  width: 100%;
}
.question-response-column {
  margin-right: 0px;
}
.question-text,
.validation-text {
  font-size: 18px;
  color: #ffd700;
  padding-left: 15px;
  padding-right: 15px;
}
.user-response {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.guess-button {
  width: 70%;
  background-color: #ffd700;
  color: #191919;
  font-weight: bold;
}
.guess-button:hover {
  cursor: pointer;
  background-color: #7f6b00;
  color: #f9f9f9;
}
#loginButton,
#signupButton {
  width: 75%;
  margin-bottom: 5%;
  border-radius: 10px;
}
.signup-username-requirements {
  font-size: 15px;
  color: gray;
}
#link-main-page {
  margin-top: 10%;
}
#forms {
  margin-top: 20px;
  margin-bottom: 20px;
}
#main-page {
  color: gray;
  font-size: 20px;
}
#main-page:hover {
  color: gold;
}
.login-input,
.password-input {
  width: 90%;
}
.login-labels {
  color: #f9f9f9;
  font-size: 25px;
}
.leaderboard-links,
.player-page-links {
  margin: 30px 0px 0px 10px;
}
.leaderboard-button {
  background-color: #ffd700;
  color: #191919;
  font-weight: bold;
  border-radius: 10px;
}
.leaderboard-button:hover {
  cursor: pointer;
  background-color: #7f6b00;
  color: #f9f9f9;
}
.leaderboard-header,
.player-score-display {
  color: #b29600;
  font-size: 30px;
  background-color: #efede0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid rgb(126, 126, 233);
  border-bottom: 2px solid rgb(126, 126, 233);
  margin-bottom: 10px;
}
.player-page-header {
  color: white;
  font-size: 40px;
}
.leaderboard-gold,
.score-list-gold {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
.leaderboard-list-item,
.score-list-item {
  background-color: #9f7928;
  color: #f9f9f9;
  font-size: 20px;
  margin: 0px 50px 20px 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
#leaderboardButton {
  margin-left: -7%;
}
#logoutButton {
  margin-left: -2%;
  border-radius: 10px;
}
.board-item {
  background-color: #fff7cc;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #7f6b00;
  font-weight: bold;
  font-size: 15px;
}
.player-heading {
  color: #f9f9f9;
  font-size: 25px;
  margin-bottom: 20px;
}
.play-button {
  background-color: #ffd700;
  color: #191919;
  font-weight: bold;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.play-button:hover {
  cursor: pointer;
  background-color: #7f6b00;
  color: #f9f9f9;
}
.stat-score,
.stat-rank {
  background-color: #fff7cc;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 15px;
  border-radius: 5px;
}
.stats-label {
  font-weight: bold;
}
.user-rank,
.user-accuracy {
  font-size: 30px;
}
#userStats {
  margin-left: 2px;
  margin-right: 10px;
}
#userScores {
  margin-bottom: 10px;
}
#statScore,
#statRank {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
.username-entry {
  color: rgb(110, 107, 170);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
button:hover {
  border: solid 2px rgb(133, 133, 221);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(140, 138, 216),
      0 0 40px rgb(140, 138, 216), 0 0 50px rgb(140, 138, 216),
      0 0 60px rgb(140, 138, 216), 0 0 70px rgb(140, 138, 216);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px rgb(140, 138, 216),
      0 0 40px rgb(140, 138, 216), 0 0 50px rgb(140, 138, 216),
      0 0 60px rgb(140, 138, 216), 0 0 70px rgb(140, 138, 216),
      0 0 80px rgb(140, 138, 216);
  }
}

/* MEDIA QUERIES ========================================================== */

/* SCREEN SIZE sm (576px - 767px) */
@media (min-width: 576px) {
  .page-header-title-logo,
  .app-logo {
    font-size: 60px;
  }
  .main-page-subheading {
    font-size: 27px;
  }
  .main-image,
  .main-page-buttons {
    width: 70%;
  }
  .game-explanation {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .question-text,
  .validation-text {
    font-size: 21px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .leaderboard-links {
    margin-left: 10px;
    margin-right: 10px;
  }
  .leaderboard-button {
    width: 75%;
  }
  .leaderboard-header {
    font-size: 30px;
  }
  .leaderboard-list-item {
    font-size: 24px;
  }
  .play-button {
    width: 50%;
  }
  .stat-score,
  .stat-rank {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .user-rank,
  .user-accuracy {
    font-size: 35px;
  }
  .board-item {
    font-size: 20px;
  }
}

/* SCREEN SIZE md (768px - 991px) */
@media (min-width: 768px) {
  .page-header-title-logo,
  .app-logo {
    font-size: 80px;
  }
  .main-page-subheading {
    font-size: 30px;
  }
  .main-image,
  .main-page-buttons {
    width: 85%;
  }
  .game-explanation {
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #loginButton,
  #signupButton {
    width: 50%;
    margin-bottom: 5%;
  }
  #questionImg {
    width: 90%;
    margin-left: 20px;
  }
  .leaderboard-links {
    margin-left: 10px;
    margin-right: 10px;
  }
  .leaderboard-button {
    width: 45%;
  }
  .leaderboard-header {
    font-size: 30px;
  }
  .leaderboard-list-item,
  .score-list-item {
    font-size: 24px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

/* SCREEN SIZE lg (992px and up) */
@media (min-width: 992px) {
  html {
    background-color: gray;
  }
  section {
    background-color: #191919;
    width: 90%;
    height: auto;
    border: solid gold 5px;
    border-radius: 5px;
    margin: 2.5% 5% 1% 5%;
  }
  .page-header-title-logo,
  .app-logo {
    font-size: 80px;
  }
  .main-page-subheading {
    font-size: 30px;
  }
  .main-image {
    margin-left: 30px;
    margin-right: 60px;
    width: 63%;
  }
  .game-explanation {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-page-buttons {
    width: 30%;
  }
  .question-response-column {
    margin-right: 30px;
  }
  #questionImg {
    width: 72%;
    margin-left: 20px;
  }
  .leaderboard-list-item,
  .score-list-item {
    font-size: 27px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .stat-score,
  .stat-rank {
    margin-left: 60px;
    margin-right: 60px;
  }
  .leaderboard-button {
    width: 33.3%;
  }
  #forms {
    width: 30%;
  }
  .board-item {
    font-size: 25px;
  }
}
